/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

/* Header Area */

header{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul li a{
    font-weight: 500;
    color: black;
}

nav ul{
    display: flex;
    gap: 30px;
}

.btn{
    background-color: #30B868;
    border: 1px solid #30B868;
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    border: 1px solid white;
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 500;
    display: inline-block;
}
.btn-transparent:hover{
    border: 1px solid #30B868;
    background-color: #30B868;
}
header .btn:hover{
    border: 1px solid #30B868;
    color: #30B868;
}


/* Hero Area */
.hero-area{
    height: 600px;
    background-image: url(./assets/hero-bg.png);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hero-label{
    background-color: white;
    color: #30B868;
    padding: 6px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.hero-label .dot{
    width: 14px;
    height: 14px;
    background-color: #4fe68e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-label .dot i{
    font-size: 6px;
}

.hero-label p{
    color: #30B868;
}

.hero-content h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
}

.hero-content h1 span{
    color: #30B868;
}

.hero-content p{
    color: white;
    line-height: 30px;
}
.hero-content .btn-group{
    display: flex;
    gap: 16px;
}

/* Notes Area */
.notes-area{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}


/* Notes Area */

.notes-area{

    background-color: #627382;
}
.notes-card-area{
    display: flex;
}

.notes-card .card-img{
    background-color: #F95555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}