/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

/* Common Classes */

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

/* Header Area */

header{
    padding: 10px 0;
}

nav ul li a{
    font-weight: 500;
    color: black;
}

nav ul{
    gap: 30px;
}

.btn{
    background-color: #30B868;
    border: 1px solid #30B868;
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    border: 1px solid white;
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 500;
    display: inline-block;
}
.btn-transparent:hover{
    border: 1px solid #30B868;
    background-color: #30B868;
}
header .btn:hover{
    border: 1px solid #30B868;
    color: #30B868;
}


/* Hero Area */
.hero-area{
    height: 600px;
    background-image: url(./assets/hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-content{
    width: 50%;
    text-align: center;
    flex-direction: column;
    gap: 25px;
}

.hero-label{
    background-color: white;
    color: #30B868;
    padding: 6px 12px;
    border-radius: 15px;
    gap: 10px;
    width: fit-content;
}

.hero-label .dot{
    width: 14px;
    height: 14px;
    background-color: #4fe68e;
    border-radius: 50%;
}

.hero-label .dot i{
    font-size: 6px;
}

.hero-label p{
    color: #30B868;
}

.hero-content h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
}

.hero-content h1 span{
    color: #30B868;
}

.hero-content p{
    color: white;
    line-height: 30px;
}
.hero-content .btn-group{
    gap: 16px;
}

/* Notes Area */
.notes-area{    
    margin: 0 auto;
    text-align: center;
    background-color: #FBFBFB;
    padding-bottom: 20px;
}
.notes-header{
    padding-top: 40px;
}

.notes-header h2{
    font-size: 48px;
    color: #001931;
    padding-bottom: 10px;
}

.notes-header p{
    color: #627382;
}
.notes-wrapper{
    flex-direction: column;
    gap: 44px;
}
.notes-card-area{
    gap: 24px;
}

.notes-card{
    gap: 16px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 20px;
}

.notes-card .card-img{
    background-color: #F95555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.notes-card h3{
    font-size: 24px;
    color: #001931;
}

.notes-card p{
    color: #627382;
}

/* Brain Section */
.brain-section{
    gap: 60px;
    padding: 120px 0;
}
.brain-img img{
    width: 500px;
    height: 500px;
}
.brain-content{
    flex-direction: column;
    gap: 20px;
}
.brain-content h6{
    color: #30B868;
    font-size: 16px;
}
.brain-content h2{
    font-size: 48px;
    color: #001931;
}
.brain-content p{
    color: #627382;
}
.brain-content ul{
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
}
.brain-content ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}



/* Early Access Section */
.early-access-section{
    background-color: #F7F6F2;
    padding: 40px 0;
    border-radius: 8px;
    margin-bottom: 120px;
}

.early-access{
    width: 50%;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.early-btn{
    background-color: #30B868;
    border: 1px solid #30B868;
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;    
    width: fit-content;
    margin: 0 auto;
}
.early-access .early-btn:hover{
    background-color: transparent;
    color: #30B868;
    border: 1px solid #30B868;
}

.early-access h2{
    color: #001931;
    font-size: 30px;
}
.early-access p{
    color: #627382;
}

/* Footer Area */
.footer-section{
    background-color: #001931;
    color: white;
    padding-top: 80px;
}

.footer-icon{
    text-align: left;
    flex-direction: column;
    gap: 10px;
}

.footer-top{
    padding-bottom: 80px;
}
.footer-bottom{
    text-align: center;
    color: white;
    padding: 30px 0;
    border-top: 1px solid white;
}
.f-icon-group{
    display: flex;
    gap: 10px;
}
.f-icon-group i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    color: #001931;
    background-color: white;
}
.f-icon-group i:hover{
    background-color: #30B868;
    color: white;
}